[watcher:dwebworker]
cmd = .env/bin/uwsgi server.cfg
use_sockets = True

[env:dwebworker]
PYTHONPATH = %(project_dir)s
DJANGO_SETTINGS_MODULE=%(django_settings_module)s

[uwsgi]
socket = 127.0.0.1:%(server_port)s
chdir = %(project_dir)s
wsgi-file = %(project)s/wsgi.py
processes = %(server_processes)s
