[circus]
logoutput = %(logoutput)s
debug = True

[watcher:webapp]
cmd = .env/bin/chaussette --fd $(circus.sockets.web) --backend meinheld glaze.wsgi.application
numprocesses = 5
use_sockets = True
working_dir = %(project_dir)s

[socket:web]
host = 127.0.0.1
port = %(server_port)s

[env:webapp]
PYTHONPATH = %(project_dir)s
DJANGO_SETTINGS_MODULE=%(django_settings_module)s
