{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Profile | Glaze{% endblock %}

{% block content %}
<h1>Editing Profile: {{ user }}</h1>

<form class="login form-horizontal" method="POST" action="">
  <fieldset>
    <legend>Profile</legend>
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
  </fieldset>
  <button class="btn btn-primary" type="submit">Submit</button>
  <a class="btn btn-link"
    href="{% url 'profile' %}"
    title="Back to details">Back to details</a>
</form>
{% endblock %}

