{% extends 'base.html' %}

{% load i18n %}

{% load bootstrap3 %}

{% block title %}{% trans "Profile" %} | Glaze{% endblock %}

{% block content %}
<h1>{% trans "Editing Profile" %}: {{ user }}</h1>

<form class="login form-horizontal" method="POST" action="">
  <fieldset>
    <legend>{% trans "Profile" %}</legend>
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
  </fieldset>
  <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
  <a class="btn btn-link"
    href="{% url 'profile' %}"
    title="{% trans "Back to details" %}">{% trans "Back to details" %}</a>
</form>
{% endblock %}

