{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans model_name %} | Glaze{% endblock %}

{% block content %}
<h1>{% trans "Editing" %} {{ model_name }}: {{ form.instance.name }}</h1>

<form class="login form-horizontal" method="POST" action="" {% if form.image %}enctype="multipart/form-data"{% endif %}>
  <fieldset>
    <legend>{% trans model_name %}</legend>
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
  </fieldset>
  {% block additional_fieldsets %}{% endblock %}
  <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
  {% if form.instance.pk %}
  <a class="btn btn-link"
    href="{% url path_prefix|stringformat:'s-detail' pk=form.instance.pk %}"
    title="{% trans "Back to details" %}">{% trans "Back to details" %}</a>
  {% endif %}
</form>
{% endblock %}

