{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}{{ model_name }} | Glaze{% endblock %}

{% block content %}
<h1>Editing {{ model_name }}: {{ form.instance.name }}</h1>

<form class="login form-horizontal" method="POST" action="" {% if form.image %}enctype="multipart/form-data"{% endif %}>
  <fieldset>
    <legend>{{ model_name }}</legend>
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
  </fieldset>
  {% block additional_fieldsets %}{% endblock %}
  <button class="btn btn-default" type="submit">Submit</button>
</form>
{% endblock %}

