{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans model_name %} | Glaze{% endblock %}

{% block content %}
<h1>{% trans model_name %}: {{ instance.name }}</h1>

{% block detail_content %}{% endblock %}

<div class="col-xs-12">
    <a class="btn btn-primary" href="{% url path_prefix|stringformat:'s-update' pk=instance.pk %}" title="{% trans "Edit" %}">{% trans "Edit" %}</a>
    <a class="btn btn-warning" href="{% url path_prefix|stringformat:'s-delete' pk=instance.pk %}" title="{% trans "Delete" %}">{% trans "Delete" %}</a>
    <a class="btn btn-link" href="{% url path_prefix_plural %}" title="{% trans "Back to list" %}">{% trans "Back to list" %}</a>
</div>
{% endblock %}

