{% extends 'recipes/base_form.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block additional_fieldsets %}
<fieldset class="form-inline recipe-parts">
    <legend>{% trans "Parts" %}</legend>
    <div class="form-management">
    {{ recipe_part_form.management_form }}
    </div>
    {% for form in recipe_part_form %}
        <div class="recipe-part row">
        {% bootstrap_form form layout='horizontal' form_group_class='form-group col-xs-5' %}
        </div>
    {% endfor %}
</fieldset>
{% endblock %}

{% block extra_script %}
<script>
$(document).ready(function(){
    $('.recipe-part').formset({
        prefix: '{{ recipe_part_form.prefix }}',
        addCssClass: 'add-row btn btn-default',
        deleteCssClass: 'delete-row btn btn-warning',
        addText: '{% trans "Add another" %}',
        deleteText: '{% trans "Remove this part" %}'
    });
});
</script>
{% endblock %}
