{% extends 'recipes/base_detail.html' %}

{% load i18n %}
{% load thumbnail %}

{% block detail_content %}
<div class="col-xs-6">
<dl class="dl-horizontal">
    <dt>{% trans "Price" %}:</dt>
    <dd>{{ user.profile.currency }} {{ instance.price|floatformat:2 }}/Kg</dd>
    <dt>{% trans "Description" %}:</dt>
    <dd>{{ instance.description }}</dd>
</dl>
</div>

<div class="image detail col-xs-6">
{% if instance.image %}
{% thumbnail instance.image "320x320" crop="center" as im %}
    <a href="{{ instance.image.url }}" title="{{ instance.name }}" class="external">
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
    </a>
{% empty %}
    <p>{% trans "No image" %} ({{ instance.image }})</p>
{% endthumbnail %}
{% endif %}
</div>

<div class="col-xs-12">
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Ingredient" %}</th>
            <th>{% trans "Kind" %}</th>
            <th>{% trans "Percentage" %}</th>
            <th>{% trans "Relative Price" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for part in instance.parts %}
        <tr>
            <td><a href="{{ part.ingredient.get_absolute_url }}" title="{{ part.ingredient.name }}">{{ part.ingredient.name }}</a></td>
            <td>{% trans part.ingredient.kind_string %}</td>
            <td>{{ part.percentage|floatformat }}%</td>
            <td>{{ user.profile.currency }} {{ part.relative_price|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

