{% extends 'recipes/base_detail.html' %}

{% load i18n %}
{% load thumbnail %}

{% block detail_content %}
<div class="col-xs-6">
<dl class="dl-horizontal">
    <dt>{% trans "Price" %}:</dt>
    <dd>{{ user.profile.currency }} {{ instance.price|stringformat:'.2f' }}</dd>
    <dt>{% trans "Description" %}:</dt>
    <dd>{{ instance.description }}</dd>
</dl>
</div>

<div class="image detail col-xs-6">
{% if instance.image %}
{% thumbnail instance.image "320x320" crop="center" as im %}
    <a href="{{ instance.image.url }}" title="{{ instance.name }}" class="external">
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
    </a>
{% empty %}
    <p>{% trans "No image" %} ({{ instance.image }})</p>
{% endthumbnail %}
{% endif %}
</div>

<div class="col-xs-12">
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Ingredient" %}</th>
            <th>{% trans "Amount" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for part in instance.parts %}
        <tr>
            <td>{{ part.ingredient }}</td>
            <td>{{ part.quantity|stringformat:'.3f' }}{{ part.ingredient.weight_unit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

