{% extends 'recipes/base_list.html' %}

{% load thumbnail %}

{% block list_content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in object_list %}
        <tr>
            <td><a href="{{ recipe.get_absolute_url }}" title="{{ recipe.name }}">{{ recipe.name }}</a></td>
            <td>{{ user.profile.currency }} {{ recipe.price|stringformat:'.2f' }}</td>
            <td>
            {% if recipe.image %}
            {% thumbnail recipe.image "50x50" crop="center" as im %}
                <a href="{{ recipe.image.url }}" title="{{ recipe.name }}" class="external"
                    data-toggle="lightbox"
                    data-gallery="Recipes"
                    data-title="{{ recipe.name }}"
                    data-footer="{{ recipe.description }}"
                    >
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid" />
                </a>
            {% empty %}
                <p>No image ({{ recipe.image }})</p>
            {% endthumbnail %}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

