.socialaccount_providers {
    list-style: none;
    width: 100%;
}

.socialaccount_providers li {
    float: left;
}

.socialaccount_provider {
    display: block;
    width: 120px;
    height: 120px;
    background: url(../img/social-icon-png-1837.png) no-repeat;
    text-indent: -10000em;
    margin: 10px;
}

.socialaccount_provider.facebook {
    background-position: -37px -31px;
}

.socialaccount_provider.google {
    background-position: -186px -31px;
}

.socialaccount_provider.twitter {
    background-position: -484px -31px;
}

.login-or {
    clear: both;
}
